{%extends 'all-images/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if projects%}
    
      
    {% endif %}

  </div>

  <div class="row">



          {% if projects%}
          {% for images_item in projects %} 
            <div class="col-sm-6 col-md-3">
                <h1>{{project.project}}</h1>
                
                
                  <img src="{{images_item.image.url}}" alt="Image" width='500' length='800'>
                  <h4 class="modal-title"><strong>Name of Project:</strong>{{images_item.title}}</style></h4>
                  <h4><strong>About Project : </strong>{{images_item.detail}}</h4>
                  <h4><strong>More info:</strong> <a href="{{images_item.link}}">{{images_item.link}}</a></p>
                  <hr>
              
                
                        
                            
                 
              
                      
          </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}